*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
}

ul{
    width: 70%;
    min-height: 150px;
    max-height: 150px;
    background-color: rgb(49, 139, 49);
    overflow: auto;
    border-radius: 5px;
}

li{
    color: rgb(255, 255, 255);
    font-size: 28px;
    list-style: none;
    margin-top: 10px;
    /* font-weight: bold; */
    text-align: initial;
    transform: translateX(-20px);
}

.container{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.card{
    width: 600px;
    background-color: rgb(255, 255, 255);
    padding: 50px 0 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow-y: hidden;
}

label{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(66, 66, 66);
    margin-bottom: 20px;
}

input{
    margin: 10px auto;
    width: 50%;
    border: 2px solid rgba(64, 64, 65, 0.493);
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(68, 67, 67);
    font-size: 20px;
    padding: 20px;
}

.add-btn{
    min-width: 200px;
    min-height: 45px;
    margin: 40px auto;
    border: none;
    background-color: rgb(49, 139, 49);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms;
}

.add-btn:hover{
    background-color: rgb(38, 110, 36);
}

.sort-btn{
    min-width: 200px;
    min-height: 45px;
    border: none;
    background-color: rgb(177, 69, 69);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms;
    margin: 40px auto 0 auto;
}

#cantidadParticipantes{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.sort-btn:hover{
    background-color: rgb(146, 51, 51);
}


.counter__container{
    width: 100%;
    min-height: 100px;
    background-color: rgb(146, 51, 51);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    width: 60px;
    height: 60px;
    border: 5px solid rgb(37, 156, 8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color:  rgb(255, 255, 255);
}